---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <!-- <picture class="cs-background"> -->
        <!--Mobile Image-->
        <!-- <source media="(max-width: 600px)" srcset="/assets/images/poly.jpg"> -->
        <!--Tablet and above Image-->
        <!-- <source media="(min-width: 601px)" srcset="/assets/images/poly.jpg">
        <img decoding="async" src="/assets/images/poly.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true"> -->
    <!-- </picture> -->
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095-1112">
    <div class="cs-container">
        
        <div class="cs-content">
            <!-- <span class="cs-topper">Auto Repair since 1967</span> -->
            <h2 class="cs-title">Small Business Web Design based in the Kingdom of  Kerry</h2>
            <img class="cs-seperate" loading="lazy" decoding="async" src="/assets/svgs/seperate.svg" alt="graphic" width="100" height="50">

            <p class="cs-text">
                At Croi Web Design, we create exceptional digital experiences that captivate and engage. Our skilled team of designers, developers, and strategists brings your vision to life with innovative, user-centric web solutions. We deliver stunning, high-performing websites for startups and established businesses alike. Let us transform your ideas into a vibrant online reality.
            </p>
            
            <!-- <ul class="cs-list">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul> -->
            <!-- <div class="cs-info">  -->
        </div>
    </div>
    
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <div class="j"> 
        <span class="cs-name">Sean Barry</span>
        <span class="cs-desc">Founder And CEO</span>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1129">
    <div class="cs-container">
        <div class="cs-content">
            <!-- <span class="cs-topper">Our Services</span> -->
            <h2 class="cs-title">We Deliver <span class="cs-light">Results </span></h2>
            <p class="cs-text">
                At Croi, we understand that each individual buisienss is different, and we remember this in each of our designs. Thats why each of our websites is uniquely tailored to the needs of your business.
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- <div class="circles"> -->
            <li class="cs-item">
                <div class="circle">

                    <span>1</spana>
                      
                </div>
                <h3 class="cs-h3">No Pre-Written Content</h3>
                <p class="cs-text">
                    We write unique and engaging content around your company. Everyone is unique!
                </p>
            </li>
            <li class="cs-item">
                <div class="circle">

                    <span>2</spana>
                      
                </div>
                <h3 class="cs-h3">Unbeatable Customer Service
                </h3>
                <p class="cs-text">
                    No automated systems - When you need help the lead developer answers your call.
                </p>
            </li>
            <li class="cs-item">
                <div class="circle">

                    <span>3</spana>
                      
                </div>
                <h3 class="cs-h3">No Limits On Design</h3>
                <p class="cs-text">
                    We can edit the design to cater to your tastes. Everything is customizable!
                </p>
            </li>
            <!-- </div> -->
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<section id="quote-560">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Quote</span>
            <p class="cs-quote">
                Growing Buisinesses Is Our Passion
            </p>
            <span class="cs-name">Sean Barry</span>
        </div>
    </div>
</section>

                                              

    {% include 'components/cta.html' %}

{% endblock %}